<a href="https://colab.research.google.com/github/raushan9jnv/Appliances-Energy-Prediction/blob/main/Appliances_Energy_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

1. **date** -  time year-month-day hour:minute:second

2. **Appliances** -  energy use in Wh (**Dependent variable**)

3. **lights** - energy use of light fixtures in the house in Wh (Drop this column)

4. **T1** - Temperature in kitchen area, in Celsius

5. **RH1** - Humidity in kitchen area, in % 

6. **T2** - Temperature in living room area, in Celsius 

7. **RH2** - Humidity in living room area, in %

8. **T3** - Temperature in laundry room area

9. **RH3** - Humidity in laundry room area, in % 

10. **T4** - Temperature in office room, in Celsius 

11. **RH4** - Humidity in office room, in %

12. **T5** - Temperature in bathroom, in Celsius

13. **RH5** - Humidity in bathroom, in % 

14. **T6** - Temperature outside the building (north side), in Celsius

15. **RH6** - Humidity outside the building (north side), in %

16. **T7** - Temperature in ironing room , in Celsius

17. **RH7** - Humidity in ironing room, in % 

18. **T8** - Temperature in teenager room 2, in Celsius 

19. **RH8** - Humidity in teenager room 2, in %


20. **T9** - Temperature in parents room, in Celsius

21. **RH9** - Humidity in parents room, in % 

22. **To** - Temperature outside (from Chievres weather station), in
Celsius 

23. **Pressure** (from Chievres weather station), in mm Hg 

24. **RHout** - Humidity outside (from
Chievres weather station), in %

25. **Wind speed** - (from Chievres weather station), in m/s

26. **Visibility** - (from Chievres weather station), in km

27. **Tdewpoint** - (from Chievres weather station), Â°C

28. **rv1** - Random variable 1, nondimensional

29. **rv2** - Random variable 2, nondimensional

In [5]:
# path of file in google drive
data_path = '/content/drive/MyDrive/Almabetter/Capstone project/Capstone project - Appliances Energy prediction/data_application_energy.csv'

In [6]:
# loading the input data
df = pd.read_csv(data_path)

# **Reading the Data**

In [7]:
# print first five row of data
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [14]:
# shape of data
df.shape
print(f'Number of rows',df.shape[0])
print(f'Number of columns',df.shape[1])

Number of rows 19735
Number of columns 29

In [10]:
# quick info of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [11]:
# statistical view of data
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [15]:
# check for null values
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

**Findings**
-  There no any null values

In [20]:
#columns name
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
# change name of column for simplicity
temp_column = {'T1' :'kitchen_temp', 'T2' :  }